<span id="badge-{{ erreur.id }}"
      class="status-badge {{ erreur.statutErr == 'À revoir' ? 'revoir' : (erreur.statutErr == 'En cours' ? 'encours' : 'maitrise') }}">
    {{ erreur.statutErr }}
</span>